.startslider{
    padding: 5% 0%;
}

.startsliderhome{
    padding: 0% 0%;
}

.slider{
    width: 90%;
    height: 600px;
    padding: 2% 5%;
}

/* .sliderbtndiv{
    padding: 0% 5%;
}

.btnslider1{
    min-width: 80px;
    background-color: aquamarine;
    border: 2px solid black;
    box-shadow: 2px 3px 5px gray;
    border-radius: 5px;        
}

.btnslider2{
    min-width: 80px;
    background-color: aquamarine;
    border: 2px solid black;
    box-shadow: 2px 3px 5px gray;
    border-radius: 5px;  
    float: right;      
} */

.image-slider {
    position: relative;
  }
  
  .image-slider img {
    max-width: 100%;
    height: 500px;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .slider-arrow:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .linkunderline{
    text-decoration: none;
    color: #000000;
  }
