.outer-box {
    width: 100%;
    min-height: 400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
}

.middle-box {
    width: 80%;
    min-height: 350px;
    /* background-color: #e0a47e; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content1 {
    font-size: 24px;
    color: black;
    width: 60%;
    padding: 0% 2%;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px gray;
}

.contentHeading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lemonchiffon;
}

.contentdata{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.content2 {
    font-size: 24px;
    color: black;
    background-color: #fff;
    width: 30%;
    max-width: 500px;
    background-color: fff;
    box-shadow: 10px 10px 10px 10px gray;
}

.orderdetail{
    padding: 0px 0px;
}

.ODp{
    line-height: 15px;
    padding: 1px 30px;
}

.ODpart1{
    color: darkgreen;
    font-size: 15px;
}
.ODpart2{
    color: brown;
    font-size: 15px;
}

.ODI{
    color: navy;
}

.amount{
    color: seagreen;
}

.cartimg{
    width: 8%;
    height: 80px;
    padding: 1%;
}

.LogintoBuybtn{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(223, 156, 156);
    width: 40%;
}
.LogintoBuybtn:hover{
    background-color: rgb(81, 214, 203);
    color: whitesmoke;
    width: 50%;
    box-shadow: 5px 4px 8px rgb(67, 56, 56);
}

.LogOutBTN{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: steelblue;
}

.LogOutBTN:hover{
    height: 40px;
    background-color: rgb(70, 165, 180);
    color: antiquewhite;
    font-size: 18px;
}

@media Only screen and (min-width: 200px) and (max-width: 750px) {
    
    .middle-box {
        width: 100%;
        display: block;
    }
    
    .content1 {
        width: 65%;
        box-shadow: 0px 0px 0px 0px gray;
        margin: auto;
    }
    
    .contentHeading{
        display: none;
    }
    
    .contentdata{
        display: block;
    }
    
    .content2 {
        width: 100%;        
        box-shadow: 0px 0px 0px 0px gray;
        margin: auto;
    }

    .cartimg{
        width: 50%;
        height: 200px;
    }

    .forMQ{
        margin-top: 0px;
        padding-top: 60px;
        color: brown;
    }

}