.Footer{
    text-align: center;
    padding: 1% 5%;
    box-shadow: -5px -5px 60px rgb(51, 51, 51);
    background-image: linear-gradient(45deg, red, yellow, red, yellow,red,yellow,red, transparent);
}

.Fcontainer{
    display: flex;
    width: 100%;
    margin-right: 2%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Fbox1{
    width: 30%;
    line-height: 30px;
}

.Fbox2{
    width: 30%;
    line-height: 30px;
    font-style: italic;
    margin-left: 40px;
}

.Fbox3{
    width: 30%;
    line-height: 30px;
    font-size: 17px;
    font-weight: 600;
    font-family: \;
}

img{
    width: 30px;
    height: 30px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    padding: 2% 8%;
}

.copyright{
    background-image: linear-gradient(360deg, rgb(152, 243, 152), transparent);
    min-height: 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0% 11%;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.forerror{
    padding-bottom: 0%;
    width: 100%;
}

.errimg{
    width: 100%;
    height: 30px;
}

.Linkline{
    text-decoration: none;
}




/* //////////////////////////// Media Quariy For Mobile //////////////////////////////// */

@media only screen and (min-width: 200px) and (max-width:750px) {
    
    .Fcontainer{
        display: block;
        width: 100%;
        margin-right: 0%;
    }
    
    .Fbox1{
        width: 100%;
    }
    
    .Fbox2{
        width: 100%;
        margin-left: 0px;
        padding-bottom: 1.5%;
        line-height: 20px;
    }
    
    .Fbox3{
        width: 100%;
        display: none;
    }

    .copyright{
        font-size: 8px;
    }
    
}

/* //////////////////////////// Media Quariy For Tab //////////////////////////////// */

@media only screen and (min-width: 750px) and (max-width:1200px) {
    
    .Fcontainer{
        display: flex;
    }
    
    .Fbox1{
        width: 30%;
        line-height: 25px;
        font-size: 13px;
    }
    
    .Fbox2{
        width: 30%;
        line-height: 20px;
    }
    
    .Fbox3{
        width: 30%;
    }
    
}